<a href="https://colab.research.google.com/github/Sofil1886/Finance/blob/main/Data_Frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install python-edgar
import edgar
edgar.download_index(r"from2003",2009,"ivan.sofilkanich.99@gmail.com",skip_all_present_except_last=False)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-edgar
  Downloading python_edgar-3.1.3-py3-none-any.whl (8.6 kB)
Installing collected packages: python-edgar
Successfully installed python-edgar-3.1.3

In [ ]:
import pandas as pd

In [ ]:
selectedcompany = "ELECTRONIC ARTS INC"
selectedreport='10-Q'
import requests
import json
import os
files = []
import os,glob
folder_path = r'/content/from2003'
for filename in glob.glob(os.path.join(folder_path, '*tsv')):
  with open(filename, 'r') as f:
    csv = pd.read_csv(f, sep = '\t', lineterminator='\n', names=None)
    files.append(csv)

In [ ]:
Company_reports = []
for csv in files:
  csv.rename(columns={(csv.columns[0]): ('Item')}, inplace=True)
  companyreport = csv[(csv['Item'].str.contains(selectedcompany)) & (csv['Item'].str.contains(selectedreport))]
  Company_reports.append(companyreport)

In [ ]:
filings = []
for companyreport in Company_reports:
  Filing = companyreport['Item'].str.split('|')
  Filing = Filing.to_list()
  filings.append(Filing)

In [ ]:
filings[0]

[['712515',
  'ELECTRONIC ARTS INC.',
  '10-Q',
  '2022-02-08',
  'edgar/data/712515/0000712515-22-000003.txt',
  'edgar/data/712515/0000712515-22-000003-index.html']]

In [ ]:
URLS = []
for i in filings:
  for z in i:
    for x in z:
      if 'html'in x:
        report = x
        URLS.append(report)

In [ ]:
URLS_Full = []
for each in URLS:
  url = 'https://www.sec.gov/Archives/'+ each
  URLS_Full.append(url)
URLS_Full

['https://www.sec.gov/Archives/edgar/data/712515/0000712515-22-000003-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0001193125-11-025954-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0001193125-11-216530-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0001193125-10-025856-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-16-000086-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-15-000070-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-16-000149-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-17-000010-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-12-000010-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-15-000012-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0001193125-11-302274-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0001193125-09-230789-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-14-000009-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-13-000007-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0001193125-09-170759-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0001193125-10-252171-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-18-000045-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-21-000148-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-20-000006-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-14-000039-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-18-000059-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-17-000063-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-17-000078-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0001193125-10-102052-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-21-000016-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-20-000068-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0001193125-09-018921-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0001193125-10-183448-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-19-000004-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0001193125-12-041653-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-18-000008-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-19-000049-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-13-000042-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-20-000075-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-14-000063-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-15-000053-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-21-000118-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-16-000138-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-13-000037-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-19-000129-index.html',
 'https://www.sec.gov/Archives/edgar/data/712515/0000712515-12-000004-index.html']

In [ ]:
formatted_urls = []
document_urls = []
for url in URLS_Full:
  r = requests.get(url, headers={'user-agent': 'my-agent-0.0.1'},
                     cookies={'one': 'true'})
  df = pd.read_html(r.text)

  document_index = df[0]
  document_index = document_index.dropna()
  document_name = document_index[document_index['Description'].str.contains(selectedreport)]
  document_name = document_name['Document'].str.split(' ')
  document_name = document_name[0][0]
  report_formatted = url.replace('-','').replace('index.html', '')
#report_formatted
#url = 'https://www.sec.gov/Archives/' + report_formatted + '/' + document_name
#url
  document_urls.append(document_name)
  formatted_urls.append(report_formatted)

In [ ]:
final_urls = []
for x, y in zip(formatted_urls, document_urls):
  url = x + '/' + y
  final_urls.append(url)

In [ ]:
Balances = []
for doc in final_urls:
  r = requests.get(doc, headers={'user-agent': 'my-agent-0.0.1'},
                     cookies={'one': 'true'})
  df = pd.read_html(r.text)
  for item in df[0:15]:
      BS = (item[0].apply(str).str.contains('TOTAL LIABILITIES') | item[0].apply(str).str.contains('Total Assets'))
      if BS.any():
        Balance_Sheet = item
        Balance_Sheet.T.drop_duplicates().T
        Balance_Sheet = Balance_Sheet.iloc[1:]
  Balances.append(Balance_Sheet)

In [ ]:
partly_formatted_balances = []
for Balance in Balances:
  BS_undub = Balance.T.drop_duplicates().T
  BS_undub.dropna(axis='columns',how='all', inplace=True)
  for column in BS_undub.columns:
    USD_delete = BS_undub[column].apply(str) == '$'  
    bitch = BS_undub[column].apply(str) == ')'
    change = BS_undub[column].apply(str) == '$ Change'
    if USD_delete.any():
      BS_undub.pop(column)
    elif bitch.any():
      BS_undub.pop(column)
    elif change.any():
      BS_undub.pop(column)
  partly_formatted_balances.append(BS_undub)



new = []
for partly_formatted in partly_formatted_balances:
  partly_formatted[partly_formatted.columns[1:]] = partly_formatted[partly_formatted.columns[1:]].astype(str)
  NaN = partly_formatted.iloc[0] == 'nan'
  if NaN.any():
     partly_formatted = partly_formatted.iloc[1:]
  new.append(partly_formatted)

new[1]

,0,3,7
1,"(Unaudited) (In millions, except par value data)","December 31,2010","March 31,2010 (a)"
2,ASSETS,nan,nan
3,Current assets:,nan,nan
4,Cash and cash equivalents,1353,1273
5,Short-term investments,511,432
6,Marketable equity securities,107,291
7,"Receivables, net of allowances of $336 and $21...",390,206
8,Inventories,105,100
9,"Deferred income taxes, net",22,44
10,Other current assets,226,239
11,NaN,nan,nan
12,Total current assets,2714,2585
13,"Property and equipment, net",502,537
14,Goodwill,1107,1093
15,"Acquisition-related intangibles, net",160,204
16,"Deferred income taxes, net",44,52
17,Other assets,200,175
18,NaN,nan,nan
19,TOTAL ASSETS,4727,4646
20,NaN,nan,nan
21,LIABILITIES AND STOCKHOLDERS EQUITY,nan,nan
22,Current liabilities:,nan,nan
23,Accounts payable,162,91
24,Accrued and other current liabilities,746,717
25,Deferred net revenue (packaged goods and digit...,1100,766
26,NaN,nan,nan
27,Total current liabilities,2008,1574
28,Income tax obligations,184,242
29,"Deferred income taxes, net",4,2
30,Other liabilities,173,99
31,NaN,nan,nan
32,Total liabilities,2369,1917
33,NaN,nan,nan
34,Commitments and contingencies (See Note 11),nan,nan
35,Stockholders equity:,nan,nan
36,"Preferred stock, $0.01 par value. 10 shares au...",,
37,"Common stock, $0.01 par value. 1,000 shares au...",3,3
38,Paid-in capital,2504,2375
39,Retained earnings (accumulated deficit),(304,123
40,Accumulated other comprehensive income,155,228
41,NaN,nan,nan
42,Total stockholders equity,2358,2729
43,NaN,nan,nan
44,TOTAL LIABILITIES AND STOCKHOLDERS EQUITY,4727,4646
45,NaN,nan,nan

In [ ]:
new_names = []
for balance in new:
  header = balance.iloc[0]
  balance.columns = header
  balance.rename(columns = {(balance.columns[0]): ('Name')}, inplace=True)
  balance = balance[balance['Name'].notna()]
  balance = balance.iloc[1:]
  new_names.append(balance)

almost = []
for bal in new_names:
  df1 = bal.T.groupby(level=0).first().T
  df1.index = df1['Name']
  df2=df1.drop(columns = 'Name', axis = 1)
  almost.append(df2)


almost[2]

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

1,"June 30,2011","March 31,2011 (a)"
Name,,
ASSETS,nan,nan
Current assets:,nan,nan
Cash and cash equivalents,1173,1579
Short-term investments,503,497
Marketable equity securities,172,161
"Receivables, net of allowances of $227 and $304, respectively",30,335
Inventories,75,77
"Deferred income taxes, net",58,56
Other current assets,343,327
Total current assets,2354,3032
"Property and equipment, net",516,513
Goodwill,1132,1110
"Acquisition-related intangibles, net",134,144
"Deferred income taxes, net",49,49
Other assets,170,80
TOTAL ASSETS,4355,4928
LIABILITIES AND STOCKHOLDERS EQUITY,nan,nan
Current liabilities:,nan,nan
Accounts payable,91,228
Accrued and other current liabilities,604,768
Deferred net revenue (packaged goods and digital content),530,1005
Total current liabilities,1225,2001
Income tax obligations,192,192
"Deferred income taxes, net",42,37
Other liabilities,146,134
Total liabilities,1605,2364
Commitments and contingencies (See Note 12),nan,nan
Stockholders equity:,nan,nan
"Preferred stock, $0.01 par value. 10 shares authorized",,
"Common stock, $0.01 par value. 1,000 shares authorized; 331 and 333 shares issued and outstanding, respectively",3,3
Paid-in capital,2439,2495
Retained earnings (accumulated deficit),68,(153
Accumulated other comprehensive income,240,219
Total stockholders equity,2750,2564
TOTAL LIABILITIES AND STOCKHOLDERS EQUITY,4355,4928

In [ ]:
final = []
for New_Balance in almost:
  for column in New_Balance:
    New_Balance[column] = New_Balance[column].apply(str).str.replace('(', '-')
    New_Balance[column] = New_Balance[column].apply(str).str.replace(',', '')
    New_Balance[column] = New_Balance[column].apply(str).str.replace('—', 'nan')
    New_Balance[column] = New_Balance[column].apply(str).str.replace(')', '')
    New_Balance[column] = New_Balance[column].apply(str).str.replace('', 'nan')
  final.append(New_Balance)


result = []
for formatted_Balance in final:
  formatted_Balance[formatted_Balance.columns[:]] = formatted_Balance[formatted_Balance.columns[:]].astype(float)
  formatted_Balance.reset_index()
  result.append(formatted_Balance)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  import sys

In [ ]:
result[0]

1,"December 31, 2021","March 31, 2021 (a)"
Name,,
ASSETS,NaN,NaN
Current assets:,NaN,NaN
Cash and cash equivalents,2670.0,5260.0
Short-term investments,346.0,1106.0
"Receivables, net",965.0,521.0
Other current assets,377.0,326.0
Total current assets,4358.0,7213.0
"Property and equipment, net",522.0,491.0
Goodwill,5389.0,2868.0
"Acquisition-related intangibles, net",1052.0,309.0
"Deferred income taxes, net",2130.0,2045.0
Other assets,479.0,362.0
TOTAL ASSETS,13930.0,13288.0
LIABILITIES AND STOCKHOLDERS’ EQUITY,NaN,NaN
Current liabilities:,NaN,NaN
Accounts payable,86.0,96.0
Accrued and other current liabilities,1443.0,1341.0
Deferred net revenue (online-enabled games),2101.0,1527.0
Total current liabilities,3630.0,2964.0
"Senior notes, net",1878.0,1876.0
Income tax obligations,326.0,315.0
"Deferred income taxes, net",75.0,43.0
Other liabilities,404.0,250.0
Total liabilities,6313.0,5448.0
Commitments and contingencies (See Note 12),NaN,NaN
Stockholders’ equity:,NaN,NaN
"Common stock, $0.01 par value. 1,000 shares authorized; 282 and 286 shares issued and outstanding, respectively",3.0,3.0
Additional paid-in capital,NaN,NaN
Retained earnings,7608.0,7887.0
Accumulated other comprehensive income (loss),6.0,-50.0
Total stockholders’ equity,7617.0,7840.0
TOTAL LIABILITIES AND STOCKHOLDERS’ EQUITY,13930.0,13288.0

In [ ]:
reindex_of_df = []
for reind in result:
  r = reind.reset_index()
  reindex_of_df.append(r)

In [ ]:
#new_df = pd.concat([reindex_of_df[0], reindex_of_df[1]], axis=1)
new_df = pd.merge(reindex_of_df[0], reindex_of_df[1], how="outer" ,on = 'Name')
new_df

1,Name,"December 31, 2021","March 31, 2021 (a)","December 31,2010","March 31,2010 (a)"
0,ASSETS,NaN,NaN,NaN,NaN
1,Current assets:,NaN,NaN,NaN,NaN
2,Cash and cash equivalents,2670.0,5260.0,1353.0,1273.0
3,Short-term investments,346.0,1106.0,511.0,432.0
4,"Receivables, net",965.0,521.0,NaN,NaN
5,Other current assets,377.0,326.0,226.0,239.0
6,Total current assets,4358.0,7213.0,2714.0,2585.0
7,"Property and equipment, net",522.0,491.0,502.0,537.0
8,Goodwill,5389.0,2868.0,1107.0,1093.0
9,"Acquisition-related intangibles, net",1052.0,309.0,160.0,204.0
10,"Deferred income taxes, net",2130.0,2045.0,22.0,44.0
11,"Deferred income taxes, net",2130.0,2045.0,44.0,52.0
12,"Deferred income taxes, net",2130.0,2045.0,4.0,2.0
13,"Deferred income taxes, net",75.0,43.0,22.0,44.0
14,"Deferred income taxes, net",75.0,43.0,44.0,52.0
15,"Deferred income taxes, net",75.0,43.0,4.0,2.0
16,Other assets,479.0,362.0,200.0,175.0
17,TOTAL ASSETS,13930.0,13288.0,4727.0,4646.0
18,LIABILITIES AND STOCKHOLDERS’ EQUITY,NaN,NaN,NaN,NaN
19,Current liabilities:,NaN,NaN,NaN,NaN
20,Accounts payable,86.0,96.0,162.0,91.0
21,Accrued and other current liabilities,1443.0,1341.0,746.0,717.0
22,Deferred net revenue (online-enabled games),2101.0,1527.0,NaN,NaN
23,Total current liabilities,3630.0,2964.0,2008.0,1574.0
24,"Senior notes, net",1878.0,1876.0,NaN,NaN
25,Income tax obligations,326.0,315.0,184.0,242.0
26,Other liabilities,404.0,250.0,173.0,99.0
27,Total liabilities,6313.0,5448.0,2369.0,1917.0
28,Commitments and contingencies (See Note 12),NaN,NaN,NaN,NaN
29,Stockholders’ equity:,NaN,NaN,NaN,NaN
30,"Common stock, $0.01 par value. 1,000 shares au...",3.0,3.0,NaN,NaN
31,Additional paid-in capital,NaN,NaN,NaN,NaN
32,Retained earnings,7608.0,7887.0,NaN,NaN
33,Accumulated other comprehensive income (loss),6.0,-50.0,NaN,NaN
34,Total stockholders’ equity,7617.0,7840.0,NaN,NaN
35,TOTAL LIABILITIES AND STOCKHOLDERS’ EQUITY,13930.0,13288.0,NaN,NaN
36,Marketable equity securities,NaN,NaN,107.0,291.0
37,"Receivables, net of allowances of $336 and $21...",NaN,NaN,390.0,206.0
38,Inventories,NaN,NaN,105.0,100.0
39,LIABILITIES AND STOCKHOLDERS EQUITY,NaN,NaN,NaN,NaN
40,Deferred net revenue (packaged goods and digit...,NaN,NaN,1100.0,766.0
41,Commitments and contingencies (See Note 11),NaN,NaN,NaN,NaN
42,Stockholders equity:,NaN,NaN,NaN,NaN
43,"Preferred stock, $0.01 par value. 10 shares au...",NaN,NaN,NaN,NaN
44,"Common stock, $0.01 par value. 1,000 shares au...",NaN,NaN,3.0,3.0
45,Paid-in capital,NaN,NaN,2504.0,2375.0
46,Retained earnings (accumulated deficit),NaN,NaN,-304.0,123.0
47,Accumulated other comprehensive income,NaN,NaN,155.0,228.0
48,Total stockholders equity,NaN,NaN,2358.0,2729.0
49,TOTAL LIABILITIES AND STOCKHOLDERS EQUITY,NaN,NaN,4727.0,4646.0

In [ ]:
result = pd.concat([df1, df4], ignore_index=True, sort=False)
def togeather (data):

In [ ]:
new_df = pd.concat([result[0], result[1]], axis=1)

InvalidIndexError: ignored

In [ ]:
pd.concat([df1, df4], axis=1).reindex(df1.index)

In [ ]:
writer = pd.ExcelWriter('output.xlsx')

for x in result:
  x.to_excel(writer, 'marks')
  writer.save() 
  print('DataFrame is written successfully to Excel Sheet.')

DataFrame is written successfully to Excel Sheet.
DataFrame is written successfully to Excel Sheet.
DataFrame is written successfully to Excel Sheet.
DataFrame is written successfully to Excel Sheet.
DataFrame is written successfully to Excel Sheet.
DataFrame is written successfully to Excel Sheet.
DataFrame is written successfully to Excel Sheet.
DataFrame is written successfully to Excel Sheet.
DataFrame is written successfully to Excel Sheet.
DataFrame is written successfully to Excel Sheet.
DataFrame is written successfully to Excel Sheet.
DataFrame is written successfully to Excel Sheet.
DataFrame is written successfully to Excel Sheet.

In [ ]:
print('-'*300)

------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
csv = pd.read_csv(r'/content/C:\Users\Ivan\Desktop/2019-QTR4.tsv', sep = '\t', lineterminator='\n', names=None)
csv.columns.values[0] = 'Item'
companyreport = csv[(csv['Item'].str.contains(selectedcompany)) & (csv['Item'].str.contains(selectedreport))]

In [ ]:
Filing = companyreport['Item'].str.split('|')
Filing = Filing.to_list()
Filing

[['712515',
  'ELECTRONIC ARTS INC.',
  '10-Q',
  '2019-11-06',
  'edgar/data/712515/0000712515-19-000129.txt',
  'edgar/data/712515/0000712515-19-000129-index.html']]

In [ ]:
for item in Filing[0]:
  if 'html'in item:
    report = item
url = 'https://www.sec.gov/Archives/'+ report

import requests

r = requests.get(url,  headers={'user-agent': 'my-agent-0.0.1'}, cookies={'one': 'true'})

df = pd.read_html(r.text)

document_index = df[0]
document_index = document_index.dropna()


document_name = document_index[document_index['Description'].str.contains(selectedreport)]
document_name = document_name['Document'].str.split(' ')
document_name = document_name[0][0]

report_formatted = report.replace('-','').replace('index.html', '')
report_formatted
url = 'https://www.sec.gov/Archives/' + report_formatted + '/' + document_name
url

'https://www.sec.gov/Archives/edgar/data/712515/000071251519000129/ea9302019-q2fy2010qdoc.htm'

In [ ]:
r = requests.get(url, headers=header)
df = pd.read_html(r.text)
for item in df:
  BS = (item[0].str.contains('Retained') | item[0].str.contains('Total Assets'))
  if BS.any():
    Balance_Sheet = item

Balance_Sheet = Balance_Sheet.iloc[2:,[0,2,6]]
Header = Balance_Sheet.iloc[0]
Balance_Sheet = Balance_Sheet[1:]

Balance_Sheet.columns = Header

Balance_Sheet.columns[0]
Balance_Sheet.rename(columns={(Balance_Sheet.columns[0]): ('Name')}, inplace=True)

In [ ]:
Balance_Sheet = Balance_Sheet[Balance_Sheet['Name'].notna()]

Balance_Sheet[Balance_Sheet.columns[1:]] = Balance_Sheet[Balance_Sheet.columns[1:]].astype(str)

Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace('(', '-'))
Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace('(', '-'))

Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace(',', ''))
Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace(',', ''))


Balance_Sheet[Balance_Sheet.columns[1]] = Balance_Sheet[Balance_Sheet.columns[1]].map(lambda x: x.replace('—', 'nan'))
Balance_Sheet[Balance_Sheet.columns[2]] = Balance_Sheet[Balance_Sheet.columns[2]].map(lambda x: x.replace('—', 'nan'))

Balance_Sheet[Balance_Sheet.columns[1:]] = Balance_Sheet[Balance_Sheet.columns[1:]].astype(float)
Balance_Sheet

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

2,Name,"September 30, 2019","March 31, 2019 (a)"
3,ASSETS,NaN,NaN
4,Current assets:,NaN,NaN
5,Cash and cash equivalents,2940.0,4708.0
6,Short-term investments,1943.0,737.0
7,"Receivables, net",856.0,623.0
8,Other current assets,301.0,313.0
9,Total current assets,6040.0,6381.0
10,"Property and equipment, net",442.0,448.0
11,Goodwill,1890.0,1892.0
12,"Acquisition-related intangibles, net",72.0,87.0
13,"Deferred income taxes, net",1835.0,35.0
14,Other assets,314.0,114.0
15,TOTAL ASSETS,10593.0,8957.0
17,LIABILITIES AND STOCKHOLDERS’ EQUITY,NaN,NaN
18,Current liabilities:,NaN,NaN
19,Accounts payable,148.0,113.0
20,Accrued and other current liabilities,1024.0,1052.0
21,Deferred net revenue (online-enabled games),646.0,1100.0
22,Total current liabilities,1818.0,2265.0
23,"Senior notes, net",995.0,994.0
24,Income tax obligations,361.0,233.0
25,"Deferred income taxes, net",2.0,2.0
26,Other liabilities,259.0,132.0
27,Total liabilities,3435.0,3626.0
28,Commitments and contingencies (See Note 12),NaN,NaN
29,Stockholders’ equity:,NaN,NaN
30,"Common stock, $0.01 par value. 1,000 shares au...",3.0,3.0
31,Additional paid-in capital,NaN,NaN
32,Retained earnings,7165.0,5358.0
33,Accumulated other comprehensive loss,-10.0,-30.0
34,Total stockholders’ equity,7158.0,5331.0
35,TOTAL LIABILITIES AND STOCKHOLDERS’ EQUITY,10593.0,8957.0